<%= form_with(model: geolocation) do |form| %>
  <% if geolocation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(geolocation.errors.count, "error") %> prohibited this geolocation from being saved:</h2>

      <ul>
        <% geolocation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ip, style: "display: block" %>
    <%= form.text_field :ip %>
  </div>

  <strong>Or enter </strong>
  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
