<div id="<%= dom_id geolocation %>">
  <p>
    <strong>Ip:</strong>
    <%= geolocation.ip %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= geolocation.type %>
  </p>

  <p>
    <strong>Continent code:</strong>
    <%= geolocation.continent_code %>
  </p>

  <p>
    <strong>Continent name:</strong>
    <%= geolocation.continent_name %>
  </p>

</div>
