<div id="<%= dom_id geolocation %>">
  <p>
    <strong>Ip:</strong>
    <%= geolocation.ip %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= geolocation.typeip %>
  </p>

  <p>
    <strong>Continent code:</strong>
    <%= geolocation.continent_code %>
  </p>

  <p>
    <strong>Continent name:</strong>
    <%= geolocation.continent_name %>
  </p>
  <p>
  <strong>Country code:</strong>
    <%= geolocation.country_code %>
  </p>

  <p>
  <strong>Country name:</strong>
    <%= geolocation.country_name %>
  </p>

  <p>
  <strong>Region code:</strong>
    <%= geolocation.region_code %>
  </p>

  <p>
    <strong>Region name:</strong>
    <%= geolocation.region_name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= geolocation.city %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= geolocation.zip %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= geolocation.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= geolocation.longitude %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= geolocation.location.to_json %>
  </p>
</div>
